<footer role="banner" class="footer_banner">
  <div class="footer_banner">
    <div class="footer_container">

      <div class="footer_columns">
        <div class="inside">
          <p class="p1" style="text-align: left;"><span class="s1">A L E M Solutions and Technologies.</span></p>
        <mat-icon aria-hidden="false" aria-label="Example home icon">place</mat-icon>
        <p>624 South Arthur Avenue<br>
                 Louisville, CO 80027 Dubai</p>
            <p>USA | Dubai  | Lausanne | Munich</p>
          </div>
    </div>
            <div class="footer_columns">
              <div class="inside">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">phone</mat-icon>
                    <p>+ 97.153.000.2021</p>
                  
                    <mat-icon aria-hidden="false" aria-label="Example home icon">email</mat-icon>
                    <p><a href="mailto:contact@alemstech.com">contact@alemstech.com</a></p>
               </div>               
    </div>
    
          <div class="footer_columns">
           <div class="inside">
    <p class="p1" style="text-align: left;"><span class="s1">Além is proud to have the following designations <br>at our headquarters office in Louisville, Colorado</span></p>
    <p class="p1" style="text-align: left;"><em><span class="s1">Eco-Cycle Zero Waste Facility</span></em></p>
    <p class="p2" style="text-align: left;"><em><span class="s1">Recipient of the Gold Certification in the </span><span class="s1">City of Louisville’s  Green Business Recognition Program in 2016, 2017, 2018 and 2019 </span></em></p>
    </div>
    </div>
    
     </div>
     <div class="copyright_container"> 
       <span> © 2021 Além International Management, Inc. All Rights Reserved.</span>
      
       <div class="social-network">         
        <ul class="social-icon">
            <li class="social-icon_list"><a href="https://www.facebook.com/Al%C3%A9m-International-542335309256328/" target="_blank" title="Facebook"><mat-icon aria-hidden="false" aria-label="Example home icon">facebook</mat-icon></a></li>
            <li class="social-icon_list"><a href="https://www.instagram.com/alem_international/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
            <li class="social-icon_list"><a href="https://www.linkedin.com/company/alem-international-management" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>   
  </div> 
</div>     
    </footer>